{% extends 'base.html' %} {% block content %}
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for product in products %}
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <a href="/product/{{ product['product_id'] }}">
            <img class="card-img-top" src=static/img/{{ product['image'] }}
            alt="..." />
          </a>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">
                <a href="/product/{{ product['product_id'] }}"
                  >{{ product['name'] }}</a
                >
              </h5>
              <!-- Product price-->
              ${{ product['price'] }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
