{% extends 'base.html' %} {% block content %}

<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" alt={{ product['name'] }} src=/static/img/{{
      product['image'] }} />
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="row">
            <div class="col-sm">
          <h2>{{ product['name'] }}</h2>
          </div>
            <div class="col-sm">
                <h2><b>${{ product['price'] }}</b></h2>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam
            purus sit amet luctus. Facilisis magna etiam tempor orci eu lobortis
            elementum. Amet est placerat in egestas erat imperdiet sed. Quis
            enim lobortis scelerisque fermentum dui faucibus in ornare. Tellus
            in hac habitasse platea dictumst vestibulum. Tristique et egestas
            quis ipsum suspendisse ultrices gravida. Nullam ac tortor vitae
            purus faucibus. Amet mauris commodo quis imperdiet massa. Arcu dui
            vivamus arcu felis bibendum ut tristique et. Sit amet massa vitae
            tortor condimentum.
          </p>
          <div class="row">
            <h3>Available sizes</h3>
            <div class="col-sm border text-center">38</div>
            <div class="col-sm border text-center">39</div>
            <div class="col-sm border text-center">40</div>
            <div class="col-sm border text-center">41</div>
            <div class="col-sm border text-center">42</div>
            <div class="col-sm border text-center">43</div>
          </div>
          <h3>Size guide</h3>
          <p>78% of the customers report the shoes of this model are <b>one size too small </b> compared to the sizes they normally wear. We recommend you choose a size that is <b>1 size bigger </b> to what you normally wear.</p>
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end container -->

{% endblock %}
